@model Microsoft.AspNetCore.Http.HttpContext
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <td>RequestBody流</td>
            <td>@Model.Request.Body</td>
        </tr>
        <tr>
            <td>Content-Length头</td>
            <td>@Model.Request.ContentLength</td>
        </tr>
        <tr>
            <td>Content-Type头</td>
            <td>@Model.Request.ContentType</td>
        </tr>
        <tr>
            <td>Cookies</td>
            <td>@Model.Request.Cookies</td>
        </tr>
        <tr>
            <td>IsHttps</td>
            <td>@Model.Request.IsHttps</td>
        </tr>
        <tr>
            <td>Host</td>
            <td>@Model.Request.Host</td>
        </tr>
    </table>
</body>
</html>
<script type="text/javascript">
</script>

